TRAEFIK_ACME_EMAIL=admin@example.com

# TRAEFIK_DNS_RESOLVERS=

# IONOS
# TRAEFIK_DNS_PROVIDER=ionos
# IONOS_API_KEY=prefix.secret

# Route53
# TRAEFIK_DNS_PROVIDER=route53
# AWS_ACCESS_KEY_ID=access-key
# AWS_SECRET_ACCESS_KEY=secret-key
# AWS_REGION=us-east-1
# AWS_HOSTED_ZONE_ID=hosted-zone-id